<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>description of the all-freestyle-options job</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@1.0.3">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <org.jenkinsci.plugins.mavenrepocleaner.MavenRepoCleanerProperty plugin="maven-repo-cleaner@1.2">
      <notOnThisProject>false</notOnThisProject>
    </org.jenkinsci.plugins.mavenrepocleaner.MavenRepoCleanerProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin-as-repo-name</name>
        <refspec>+refs/heads/master:refs/remotes/origin-as-repo-name/master</refspec>
        <url>git://jenkins-events.ca.com/git/mwaite/jenkins/git-client-plugin.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>jgit</gitTool>
    <browser class="hudson.plugins.git.browser.GitWeb">
      <url>http://jenkins-events.ca.com/gitweb/?p=mwaite/jenkins/git-client-plugin.git;a=summary</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CheckoutOption>
        <timeout>3</timeout>
      </hudson.plugins.git.extensions.impl.CheckoutOption>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>true</shallow>
        <reference>/some/path/to/reference/repo</reference>
        <timeout>2</timeout>
      </hudson.plugins.git.extensions.impl.CloneOption>
      <hudson.plugins.git.extensions.impl.SubmoduleOption>
        <disableSubmodules>true</disableSubmodules>
        <recursiveSubmodules>true</recursiveSubmodules>
        <trackingSubmodules>true</trackingSubmodules>
        <timeout>5</timeout>
      </hudson.plugins.git.extensions.impl.SubmoduleOption>
      <hudson.plugins.git.extensions.impl.ChangelogToBranch>
        <options>
          <compareRemote>origin-as-changelog-base</compareRemote>
          <compareTarget>master-as-changelog-base</compareTarget>
        </options>
      </hudson.plugins.git.extensions.impl.ChangelogToBranch>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>specific-subdir</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
      <hudson.plugins.git.extensions.impl.LocalBranch>
        <localBranch>specific-local-branch</localBranch>
      </hudson.plugins.git.extensions.impl.LocalBranch>
      <hudson.plugins.git.extensions.impl.CleanCheckout/>
      <hudson.plugins.git.extensions.impl.CleanCheckout/>
      <hudson.plugins.git.extensions.impl.PerBuildTag/>
      <hudson.plugins.git.extensions.impl.ScmName>
        <name>custom-scm-name-here</name>
      </hudson.plugins.git.extensions.impl.ScmName>
      <hudson.plugins.git.extensions.impl.UserIdentity>
        <name>custom user name</name>
        <email>custom.user@example.com</email>
      </hudson.plugins.git.extensions.impl.UserIdentity>
      <hudson.plugins.git.extensions.impl.IgnoreNotifyCommit/>
      <hudson.plugins.git.extensions.impl.DisableRemotePoll/>
      <hudson.plugins.git.extensions.impl.PreBuildMerge>
        <options>
          <mergeRemote>origin-merge-before-build</mergeRemote>
          <mergeTarget>branch-to-merge-to</mergeTarget>
          <mergeStrategy>octopus</mergeStrategy>
          <fastForwardMode>FF_ONLY</fastForwardMode>
        </options>
      </hudson.plugins.git.extensions.impl.PreBuildMerge>
      <hudson.plugins.git.extensions.impl.UserExclusion>
        <excludedUsers>ignored-user1
ignored-user2</excludedUsers>
      </hudson.plugins.git.extensions.impl.UserExclusion>
      <hudson.plugins.git.extensions.impl.PathRestriction>
        <includedRegions>included-path/one</includedRegions>
        <excludedRegions>excluded-path/one</excludedRegions>
      </hudson.plugins.git.extensions.impl.PathRestriction>
      <hudson.plugins.git.extensions.impl.MessageExclusion>
        <excludedMessage>exclude this message pleas</excludedMessage>
      </hudson.plugins.git.extensions.impl.MessageExclusion>
      <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
      <hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
        <sparseCheckoutPaths>
          <hudson.plugins.git.extensions.impl.SparseCheckoutPath>
            <path>sparse/checkout/path/here</path>
          </hudson.plugins.git.extensions.impl.SparseCheckoutPath>
          <hudson.plugins.git.extensions.impl.SparseCheckoutPath>
            <path>and/another/sparse/checkout/path</path>
          </hudson.plugins.git.extensions.impl.SparseCheckoutPath>
        </sparseCheckoutPaths>
      </hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
      <hudson.plugins.git.extensions.impl.BuildChooserSetting>
	<buildChooser class="hudson.plugins.git.util.InverseBuildChooser"/>
      </hudson.plugins.git.extensions.impl.BuildChooserSetting>
      <hudson.plugins.git.extensions.impl.BuildChooserSetting>
        <buildChooser class="hudson.plugins.git.util.AncestryBuildChooser">
          <maximumAgeInDays>13</maximumAgeInDays>
          <ancestorCommitSha1>SHA1-of-ancestor-commit-which-must-be-in-branch-history</ancestorCommitSha1>
        </buildChooser>
      </hudson.plugins.git.extensions.impl.BuildChooserSetting>
      <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
      <hudson.plugins.git.extensions.impl.WipeWorkspace/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>
